* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    height: 100px;

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
}

.places-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 89.5vh;
}

.place-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    color: #2B283A;

    img {
        height: 250px;
        max-width: 175px;
        border-radius: 7px;
        margin-right: 2rem;
        object-fit: cover;
    }

    h4 {
        font-size: 32px;
    }

    p {
        font-size: 12px;
        margin: 7px 0;
        letter-spacing: 0.5px;

        span {
            font-size: 10px;
            text-decoration: underline;
            color: #918E9B;
            margin-left: 1.5rem;
            letter-spacing: 1px;
            text-transform: none;
        }
    }

    .country {
        font-size: 13px;
        margin-left: 1rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .date {
        font-size: 14px;
        font-weight: 700;
    }
}